body{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.content {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
    padding: 40px;
    max-width: 1200px;
    font-family: 'Poppins', sans-serif;
}

.content h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 2.4rem;
    color: #2c3e50;
    font-weight: bold;
}

/* Flex Container for Details Section */
.details {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 40px;
    flex-wrap: wrap;
}

/* Contacts Section */
.contacts {
    flex: 1;
    background-color: #7d7f81;
    border-radius: 12px;
    padding: 30px;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contacts .info {
    margin-bottom: 20px;
}

.contacts .info b {
    font-size: 1.2rem;
    color: #12f3e8;
}

.contacts .detail {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.contacts .detail .icon {
    margin-right: 15px;
    color: #f39c12;
    font-size: 1.4rem;
}

.contacts .detail a {
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
}



/* Form Section */
.form {
    flex: 1;
    background-color: #ecf0f1;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form fieldset {
    border: none;
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bdc3c7;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #2c3e50;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 6px rgba(52, 152, 219, 0.5);
}

.form textarea {
    height: 150px;
}

.form button {
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #2980b9;
}