body{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.content {
    margin: 30px 60px;
}

.content > .description {
    text-align: justify;
    padding-bottom: 100px;
}

.content > .description h2 {
    padding-bottom: 30px;
}

content > .pricing {
    align-items: right;
}

.content > .pricing button{
   width: 200px;
   margin: 0;
   display: inline-block;
   margin-left: 80%;
}