
body{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

form {
    width: 300px;                 
    margin: 20px auto;            
    padding: 20px;                
    background-color: #f4f4f9;    
    border: 1px  ;       
    border-radius: 10px;          
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

fieldset {
       
    border-radius: 5px;          
    padding: 15px;                
}

legend {
    font-size: 1.2em;             
    font-weight: bold;            
                  
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;                  
    padding: 10px;               
    margin: 10px 0px;               
    border-radius: 5px;           
    box-sizing: border-box;       
}

.view-support-btn,
.update-support-btn,
.remove-support-btn{
    width: 55%;                  
    padding: 10px;                
    margin-top: 10px;             
    background-color: #050505;    
    color: white;                 
    border: none;                 
    border-radius: 5px;           
}